<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, text

In [2]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python 
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [3]:
engine = create_engine('postgresql+psycopg2://skillfactory:cCkxxLVrDE8EbvjueeMedPKt@84.201.134.129:5432/project_sql')

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [57]:
# текст запроса
query_3_1 = '''SELECT 
                    COUNT(*) "Колл вакансий"
                FROM public.vacancies
            '''

In [58]:
# результат запроса 
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_3_1), con=conn)
df

   Колл вакансий
0          49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [59]:
# текст запроса
query_3_2 = '''SELECT 
                    COUNT(*) "Колл работодателей"
                FROM public.employers
            '''

In [60]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_3_2), con=conn)
df

   Колл работодателей
0               23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [8]:
# текст запроса
query_3_3 = '''SELECT 
                    COUNT(*)
                FROM public.areas
            '''

In [9]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_3_3), con=conn)
df

   count
0   1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [10]:
# текст запроса
query_3_4 = '''SELECT 
                    COUNT(*)
                FROM public.industries
            '''

In [11]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_3_4), con=conn)
df

   count
0    294

***

# <center> Выводы по предварительному анализу данных.
Рабочие места есть по всей России но их мало.На каждого работодателя приходится приблизительно по 2 вакансии.Сфер деятельностей компаний очень много можно реализовать себя где угодно

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [12]:
# текст запроса
query_4_1 = '''SELECT 
                a.name area, 
                COUNT(*) cnt
            FROM areas a
            JOIN VACANCIES v on a.id = v.area_id 
            GROUP BY
                a.name
            ORDER BY 
                cnt DESC
            LIMIT 5
            '''

In [13]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_4_1), con=conn)
df

              area   cnt
0           Москва  5333
1  Санкт-Петербург  2851
2            Минск  2112
3      Новосибирск  2006
4           Алматы  1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [14]:
# текст запроса
query_4_2 = '''SELECT
                count(*)
            FROM VACANCIES
            WHERE 
             salary_from IS NOT NULL OR
             salary_to IS NOT NULL
            '''

In [15]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_4_2), con=conn)
df

   count
0  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [16]:
# текст запроса
query_4_3 = '''SELECT
                AVG(salary_from),
                AVG(salary_to)
            FROM VACANCIES
            
            '''

In [17]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_4_3), con=conn)
round(df)

       avg       avg
0  71065.0  110537.0

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [18]:
# текст запроса
query_4_4 = '''SELECT
                COUNT(*),
                schedule,
                employment
            FROM VACANCIES
            GROUP BY 2,3
            ORDER BY 1 DESC
            '''

In [19]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_4_4), con=conn)
df

    count          schedule           employment
0   35367       Полный день     Полная занятость
1    7802  Удаленная работа     Полная занятость
2    1593     Гибкий график     Полная занятость
3    1312  Удаленная работа  Частичная занятость
4     940    Сменный график     Полная занятость
5     569       Полный день           Стажировка
6     367    Вахтовый метод     Полная занятость
7     347       Полный день  Частичная занятость
8     312     Гибкий график  Частичная занятость
9     141       Полный день     Проектная работа
10    133  Удаленная работа     Проектная работа
11    116     Гибкий график           Стажировка
12    101    Сменный график  Частичная занятость
13     64  Удаленная работа           Стажировка
14     18     Гибкий график     Проектная работа
15     12    Сменный график           Стажировка
16      2    Вахтовый метод     Проектная работа
17      1    Сменный график     Проектная работа

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [20]:
# текст запроса
query_4_5 = '''SELECT
                COUNT(*),
                experience AS "Требуемый опыт работы (experience)"
            FROM VACANCIES
            GROUP BY 2
            ORDER BY 1
            '''

In [21]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_4_5), con=conn)
df

   count Требуемый опыт работы (experience)
0   1337                        Более 6 лет
1   7197                          Нет опыта
2  14511                      От 3 до 6 лет
3  26152                 От 1 года до 3 лет

***

## <center>Выводы по детальному анализу вакансий.
Больше всего ищут сотрудников с каким то опытом.Большинство вакансий ищут людей на полную занятость с разными условиями.Предложенная 
приблизительная средняя зарплата 90000 рублей.Самое большое колличество вакансий в Москве.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [22]:
# текст запроса
query_5_1 = '''SELECT
                COUNT(*),
                e.name
            FROM VACANCIES v
            JOIN employers e ON v.employer_id = e.id
            GROUP BY 2
            ORDER BY 1 DESC
            '''

In [23]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_5_1), con=conn)
df

       count                    name
0       1933                  Яндекс
1        491              Ростелеком
2        444                Тинькофф
3        428                    СБЕР
4        331           Газпром нефть
...      ...                     ...
14761      1            им. Тьюринга
14762      1        LLC Novalab Tech
14763      1   Компания Мир упаковки
14764      1  Лифинцев Олег Иванович
14765      1      ТрансЭнергоХолдинг

[14766 rows x 2 columns]

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [24]:
# текст запроса
query_5_2 = '''SELECT
                   a.name region_name,
                   count(distinct e.id) employers
               from areas a
               left join employers e on e.area = a.id
               left join vacancies v on v.area_id = e.area 
               where v.id is null
               group by 1
               order by 2 desc
               '''

In [25]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_5_2), con=conn)
df

               region_name  employers
0                   Россия        410
1                Казахстан        207
2       Московская область         75
3       Краснодарский край         19
4                 Беларусь         18
..                     ...        ...
889                Жабинка          0
890  Железногорск-Илимский          0
891                Жетысай          0
892               Жигалово          0
893               Жирновск          0

[894 rows x 2 columns]

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [26]:
# текст запроса
query_5_3 = '''SELECT
                   e.name "Работодатель",
                   COUNT(DISTINCT v.area_id) reg_cnt
               from employers e
               JOIN vacancies v ON e.id = v.employer_id 
               GROUP BY 1
               order by 2 desc
               '''

In [27]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_5_3), con=conn)
df

                 Работодатель  reg_cnt
0                      Яндекс      181
1                  Ростелеком      152
2                  Спецремонт      116
3      Поляков Денис Иванович       88
4                   ООО ЕФИН        71
...                       ...      ...
14761                  UniSol        1
14762            UNISTORY LLC        1
14763                   UNIT6        1
14764     United Distribution        1
14765              UNITEL LLC        1

[14766 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [28]:
# текст запроса
query_5_4 = '''SELECT
                   COUNT(e.name) "Работодатель"
               from employers e
               LEFT JOIN employers_industries i  ON e.id = i.employer_id 
               WHERE industry_id IS NULL
               ORDER BY 1
               '''

In [29]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_5_4), con=conn)
df

   Работодатель
0          8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [30]:
# текст запроса
query_5_5 = '''SELECT
                   e.name "Работодатель",
                   count(i.industry_id)
               from employers e
               JOIN employers_industries i  ON e.id = i.employer_id
               GROUP BY 1
               having count(i.industry_id) = 4
               ORDER BY 1
               '''

In [31]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_5_5), con=conn)
df

         Работодатель  count
0        101 Интернет      4
1            21vek.by      4
2                2ГИС      4
3                  2К      4
4         4 пикселя +      4
...               ...    ...
1131            ЮРИОН      4
1132  ЮТИП Технологии      4
1133           ЯКласс      4
1134            ЯрНео      4
1135    Яшин&Партнёры      4

[1136 rows x 2 columns]

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [32]:
# текст запроса
query_5_6 = '''SELECT
                   count(e.name) "Работодатель"
                   
               from employers_industries t
               JOIN employers e ON t.employer_id = e.id
               JOIN industries i ON t.industry_id = i.id
               WHERE i.name = 'Разработка программного обеспечения'
               ORDER BY 1
               '''

In [33]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_5_6), con=conn)
df

   Работодатель
0          3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [34]:
# код для получения списка городов-милионников
import requests
import lxml
import urllib.parse as req
path_common = req.urlparse('https://ru.wikipedia.org/wiki/Города-миллионеры_России#Список_городов-миллионеров')
url = path_common.scheme + '://' + req.quote(path_common.netloc) +  req.quote(path_common.path) + '#'+ req.quote(path_common.fragment)
city = pd.read_html(url)[1]
cities = tuple(city['Город'].to_list())
cities

('Москва',
 'Санкт-Петербург',
 'Новосибирск',
 'Екатеринбург',
 'Казань',
 'Нижний Новгород',
 'Красноярск',
 'Челябинск',
 'Самара',
 'Уфа',
 'Ростов-на-Дону',
 'Краснодар',
 'Омск',
 'Воронеж',
 'Пермь',
 'Волгоград')

In [35]:
# текст запроса
query_5_7 = f'''SELECT 
                    a.name  AS "Город-милионник", 
                    COUNT(v.id) cnt
            FROM public.areas a 
            JOIN public.vacancies v ON v.area_id = a.id
            JOIN public.employers e  ON v.employer_id = e.id
            WHERE e.name = 'Яндекс'
                AND a.name in {cities}
            GROUP BY a.name
            UNION ALL
            SELECT 'Total',
                   SUM(COUNT(v.id)) OVER()
            FROM public.areas a 
            JOIN public.vacancies v ON v.area_id = a.id
            JOIN public.employers e  ON v.employer_id = e.id
            WHERE  e.name = 'Яндекс'
                AND a.name in {cities}
            ORDER BY 2 
             '''

In [36]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_5_7), con=conn)
df

    Город-милионник    cnt
0              Омск   21.0
1         Челябинск   22.0
2        Красноярск   23.0
3         Волгоград   24.0
4             Пермь   25.0
5            Казань   25.0
6    Ростов-на-Дону   25.0
7            Самара   26.0
8               Уфа   26.0
9         Краснодар   30.0
10          Воронеж   32.0
11      Новосибирск   35.0
12  Нижний Новгород   36.0
13     Екатеринбург   39.0
14  Санкт-Петербург   42.0
15           Москва   54.0
16            Total  485.0

***

## <center>Выводы по анализу работодателей.
На первых местах в России находятся огромные холдинги которым нужны постоянно новые и новые рабочие силы так как они постоянно расширяются.Работодателей без вакансий больше всего в регионе Россия так как сайт не разрешает создавать вакансии для регионов государств.Компании сеть которых по всему СНГ соответственно имеют больше всего вакансий.А компания Поляков Денис Иванович судя по отзывам обманщик.Очень много компаний не указывают сферу деятельности что говорит об их ненадежности.4 сферы деятельности в основном указаны у компаний связанных с IT-технологиями.Вакансий связанных с ПО большое колличество так как постоянно развивающаяся отрасль.У Яндекса вакансии во всех городах миллионниках так как это огромный развивающийся холдинг.

# Юнит 6.Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [37]:
# текст запроса
query_6_1 = '''SELECT
                   COUNT(*)
                   
               FROM vacancies
               WHERE name ilike '%data%' 
                     OR name ilike '%данн%'
                  '''

In [38]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_6_1), con=conn)
df

   count
0   1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [39]:
# текст запроса
query_6_2 = '''select count(*)
    from
        vacancies
    where
        (
        lower(name) like '%data scientist%'  or
        lower(name) like '%data science%' or
        lower(name) like '%исследователь данных%'  or
        (name not ilike '%HTML%' and name like '%ML%') or
        lower(name) like '%machine learning%'  or
        lower(name) like '%машинн%обучен%'
        )
        and
        (
        lower(name) like '%junior%' or
        experience = 'Нет опыта' or
        lower(employment) like '%стажировка%'
        )
        '''

In [40]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_6_2), con=conn)
df

   count
0     51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [41]:
# текст запроса
query_6_3 =  '''SELECT 
                    count(*) AS "Колличество"
                FROM vacancies
                WHERE
                (lower(name) like '%data scientist%'  OR
                lower(name) like '%data science%' OR
                lower(name) like '%исследователь данных%'  OR
                (name like '%ML%' AND name not ilike '%HTML%')  OR
                lower(name) like '%machine learning%'  OR
                lower(name) like '%машинн%обучен%'
                )
                AND
                (
                key_skills ilike '%SQL%' OR
                key_skills like '%postgres%'
                )
                '''

In [42]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_6_3), con=conn)
df

   Колличество
0          201

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [43]:
# текст запроса
query_6_4 =  '''SELECT 
                    count(*)
                FROM vacancies
                WHERE
                (lower(name) like '%data scientist%'  OR
                lower(name) like '%data science%' OR
                lower(name) like '%исследователь данных%'  OR
                (name like '%ML%' AND name not ilike '%HTML%')  OR
                lower(name) like '%machine learning%'  OR
                lower(name) like '%машинн%обучен%'
                )
                AND
                key_skills ilike '%Python%'
                
                '''

In [44]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_6_4), con=conn)
df

   count
0    351

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [45]:
# текст запроса
query_6_5 = f'''SELECT
                  round(AVG(length(key_skills) - length(replace(key_skills, CHR(9), '')))+ 1, 2)
                FROM vacancies
                WHERE
                (lower(name) like '%data scientist%'  OR
                lower(name) like '%data science%' OR
                lower(name) like '%исследователь данных%'  OR
                (name like '%ML%' AND name not ilike '%HTML%')  OR
                lower(name) like '%machine learning%'  OR
                lower(name) like '%машинн%обучен%'
                )     
                AND key_skills IS NOT NULL 
                '''

In [46]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_6_5), con=conn)
df

   round
0   6.41

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [47]:
# текст запроса
query_6_6 = f'''SELECT experience, round(avg(coalesce((salary_from+salary_to)/2, salary_from, salary_to)),0)  as avg_DS_salary 
FROM vacancies 
WHERE (name ilike '%data science%'
    or name ilike '%data scientist%'
    or name ilike '%machine learning%'
    or name ilike '%исследователь данных%'
    or name ilike '%машинн%обучен%'
    or (name like '%ML%' and name not like '%HTML%'))
AND
(salary_from is not NULL or salary_to is not NULL)
AND experience ilike 'От 3 до 6 лет'    
GROUP BY 1 


'''

In [48]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_6_6), con=conn)
df

      experience  avg_ds_salary
0  От 3 до 6 лет       243115.0

***

# <center> Выводы по предметному анализу.
Вакансий вполне себе много по данным.Для начинающего дата-сайентиста очень мало вакансий скорее всего быстро разбирают.Python указан в большем колличестве вакансий относительно SQL значит он более востребован.В вакансиях для DS в среднем указывают 6-7 ключевых навыков что говорит о том что нужно много знаний для того чтоб овладеть профессией и она очень требовательна.Средняя зарплата у опытного DS стабильно высокая по меркам провинций.

# Общий вывод по проекту

# <center> Подведем итог исследования, обобщим выводы
Вакансий связаных с ПО огромное колличество.Сфера IT постоянно развивается судя по колличеству компаний и вакансий.Возникают и новые профессии связанные с данными.Базы данных растут как и нужда в новом персонале для их обслуживания и использования.Заработная плата с опытом в этой сфере только растет она выше средней общей из всех профессий представленных в вакансиях HH в целом.

7.1Разница между городами миллионниками и малыми городами в колличестве вакансий

In [49]:
# текст запроса
query_7_1 = f'''SELECT 
                    a.name  AS "Города", 
                    COUNT(v.id) cnt
            FROM public.areas a 
            JOIN public.vacancies v ON v.area_id = a.id
            
            WHERE a.name in {cities} 
              AND (v.name ilike '%data%' 
              OR v.name ilike '%данн%')
            GROUP BY a.name
            UNION ALL
            SELECT a.name,
                   COUNT(v.id) 
            FROM public.areas a 
            JOIN public.vacancies v ON v.area_id = a.id
            
            WHERE a.name not in {cities}
            AND (v.name ilike '%data%' 
                     OR v.name ilike '%данн%')
            GROUP BY 1
            ORDER BY 2 DESC
             '''

In [50]:
# результат и график запроса
import plotly
import plotly.express as px
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_7_1), con=conn)
fig = px.treemap(
    data_frame=df, #датафрейм
    path=['Города'], #кат. признак, для которого строится график
    values='cnt', #параметр, который сравнивается
    height=500, #высота
    width=700, #ширина
    title='Вакансии где ключевое слово данные по городам' #заголовок
)

#отображаем его
fig.show()

Вывод по графику:Большая часть вакансий  профессий связанных с данными находится в Москве.Судя по графику постепенно заполняет и другие города,но по большей части это города из списка миллиоников в России или города в Ближайших странах СНГ.Лирическое отступление:'Хотя я бы вакансии выкладывал и в других городах так как можно работать и учится этим профессиям удаленно'.

In [51]:
# текст запроса
query_7_2 = '''SELECT 
                    i.name,
                    COUNT(i.id)
                FROM public.industries i
                JOIN employers_industries e ON i.id = e.industry_id
                JOIN vacancies v ON e.employer_id = v.employer_id
                WHERE (v.name ilike '%data science%'
    or v.name ilike '%data scientist%'
    or v.name ilike '%machine learning%'
    or v.name ilike '%исследователь данных%'
    or v.name ilike '%машинн%обучен%'
    or (v.name like '%ML%' and v.name not like '%HTML%'))
            GROUP BY 1
            ORDER BY 2 DESC 
            '''

In [52]:
# результат запроса
with engine.begin() as conn:
  df = pd.read_sql_query(sql=text(query_7_2), con=conn)
df

                                                 name  count
0                 Разработка программного обеспечения    148
1   Системная интеграция,  автоматизации технологи...    139
2                                                Банк     92
3   Интернет-компания (поисковики, платежные систе...     79
4                                     Мобильная связь     23
..                                                ...    ...
92                                 Центры развлечения      1
93  Производство и ремонт военной техники, оборудо...      1
94  Продукция черной металлургии (продвижение, опт...      1
95   Производство печатной, полиграфической продукции      1
96  Промышленное, бытовое электрооборудование и эл...      1

[97 rows x 2 columns]

Во всех отраслях практически нужна профессия Data Science и это огромное разнообразие того где каждый человек может себя реализовать.

In [53]:
conn.close()